{#
/**
 * @file
 * Deposit theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 * - amount : The deposit amount.
 * - currency_code : The currency code of the deposit.
 * - previous_order: The previous order of the user if any.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  {{ '@amount @currency have been added to your account balance.'|t({
    '@amount': amount,
    '@currency': currency_code 
  }) }}
  {{ 'Your deposit order number is @number.'|t({'@number': order_entity.getOrderNumber}) }} <br>
  {{ 'You can view your order on your account page when logged in.'|t }} <br>

  {% if previous_order %}
    {{ 'You can now proceed with your previous order.'|t }} <br>
    <a href="{{ path('commerce_checkout.form', {'commerce_order': previous_order}) }}" role="button" class="button">{{ 'Go back to order'|t }}</a>
  {% endif %}

  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2>{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
  {% endif %}
</div>
