{#
/**
 * @file
 * Default theme implementation for field funds transfer.
 *
 * Available variables:
 * - issuer: The transaction issuer name.
 * - recipient: The transaction recipient name.
 * - method: The transaction method.
 * - brut_amount: The transaction brut amount.
 * - net_amount: The transaction net amount.
 * - fee: The transaction fee.
 * - currency_symbol: The transaction currency symbol.
 * - currency_code: The transaction currency code.
 * - status: The transaction status.
 * - notes: The transaction attached notes.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

<ul>
  <li>{{ 'Issuer: @issuer'|t({ '@issuer': issuer }) }}</li>
  <li>{{ 'Recipient: @recipient'|t({ '@recipient': recipient }) }}</li>
  <li>{{ 'Method: @method'|t({ '@method': method }) }}</li>
  {% if fee %}
    <li>{{ 'Brut amount: @brut-amount'|t({ '@brut-amount': brut_amount }) }}</li>
    <li>{{ 'Net amount: @net-amount'|t({ '@net-amount': net_amount }) }}</li>
    <li>{{ 'Fee: @fee'|t({ '@fee': fee|number_format(2) }) }}</li>
  {% else %} 
    <li>{{ 'Amount: @amount'|t({ '@amount': net_amount }) }}</li>
  {% endif %}
  <li>{{ 'Currency symbol: @currency-symbol'|t({ '@currency-symbol': currency_symbol }) }}</li>
  <li>{{ 'Currency code: @currency-code'|t({ '@currency-code': currency_code }) }}</li>
  <li>{{ 'Status: @status'|t({ '@status': status }) }}</li>
  {% if notes %}
    <li>{{ 'Notes: @notes'|t({ '@notes': notes }) }}</li>
  {% endif %}
</ul>